body {
  margin: 0;
  font-family: 'Open Sans', sans-serif;
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

.app-gendalf__container {
  width: 100%;
  margin: 0 auto;
  max-width: 1280px;
  padding: 0px 10px;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0;
}

input:focus,
textarea:focus,
select:focus {
  outline: none;
}
